'context-menu':

  '.tree-view': [
    {
      label: 'Open folder in SHELL',
      command: 'open-shell:open_path'
    }
  ]

  'atom-text-editor': [
    {
      label: 'Open file folder in SHELL',
      command: 'open-shell:open'
    }
  ]
